/*------------------------------------*/
/*---------------UTILITY--------------*/
/*------------------------------------*/
/*---------------CLASSES--------------*/
/*------------------------------------*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Body default values (fonts, colots etc.)*/
body {
  color: color(main-font);
  font-family: $font-main;
  font-weight: weight(regular);
  font-style: normal;
  font-size: 14px;

  background-color: color(main);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 93.7vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--logonav {
    display: flex;
    gap: max(0.1rem);
    align-items: center;
  }
}

.active {
  transform: translateX(10px) translateY(-3px);
  &::before {
    transform: translateY(6px) rotate(135deg);
  }
  &::after {
    transform: translateY(-11px) rotate(-135deg);
  }
  &.navbar__burger > .navbar__burger__btn {
    transform: scale(0);
  }
  &.navbar__burger::after,
  &.navbar__burger::before {
    background-color: color(company);
  }
}

.fixed-btn {
  &--burger {
    position: fixed;
    top: 0.8rem;
    right: 1.5rem;
  }
}
