/*------------------------------------*/
/*------------------------------------*/
/*----------------LOGO----------------*/
/*------------------------------------*/
/*------------------------------------*/

.logo {
  font-family: $font-logo;
  font-weight: weight(bold);
  font-size: 26px;
  line-height: 1.938rem;
  letter-spacing: 0.03em;

  &__link {
    color: #000;
    text-decoration: none;
  }
  &__link--footer {
    display: block;
    margin-bottom: 1.25rem;

    color: color(main);

    user-select: none;
  }
  &__colored {
    color: color(company);
  }
}
